:root {
  /* Colors */
  --color-mustard: #F7D44B;
  --color-mustard-shade: #CABE91;
  --color-blue: #143d68;
  --color-blue-light: #bed4dd;
  --color-blue-dark: #111827;
  --color-blue-shade: #3b5d82;
  /* Default Light Theme */
  --bg-default-color: var(--color-blue-light);
  --bg-accent: var(--color-mustard);
  --text-default-color: var(--color-blue-dark);
  --text-accent: var(--color-blue);
  --text-accent-shade: var(--color-blue-shade);
  --button-accent-bg: var(--color-blue);
  --button-accent-text: var(--color-blue-light);
  /* Sizes */
  --cart-list-gap: 1.5rem;
  --cart-width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

/* Dark Theme */
.dark {
  --text-default-color: var(--color-blue-light);
  --text-accent: var(--color-mustard);
  --text-accent-shade: var(--color-mustard-shade);
  --bg-default-color: var(--color-blue-dark);
  --bg-accent: var(--color-blue);
  --button-accent-text: var(--color-blue);
  --button-accent-bg: var(--color-blue-light);
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  :root {
    --text-default-color: var(--color-blue-light);
    --text-accent: var(--color-mustard);
    --text-accent-shade: var(--color-mustard-shade);
    --bg-default-color: var(--color-blue-dark);
    --bg-accent: var(--color-blue);
    --button-accent-text: var(--color-blue);
    --button-accent-bg: var(--color-blue-light);
  }
  /* Override dark mode with light mode styles if the user decides to swap */
  .light  {
    --bg-default-color: var(--color-blue-light);
    --bg-accent: var(--color-mustard);
    --text-default-color: var(--color-blue-dark);
    --text-accent: var(--color-blue);
    --text-accent-shade: var(--color-blue-shade);
    --button-accent-bg: var(--color-blue);
    --button-accent-text: var(--color-blue-light);
  }
}

.bg-default {
  background-color: var(--bg-default-color);
}
.bg-accent {
  background-color: var(--bg-accent);
}

.text-default {
  color: var(--text-default-color);
}
.text-accent {
  color: var(--text-accent);
}
.text-accent-shade {
  color: var(--text-accent-shade);
}

.button {
  text-align: center;
  justify-content: center;
}
.button-accent {
  background-color: var(--button-accent-bg);
  color: var(--button-accent-text);
}

/* Elements */
.cart-list {
  gap: var(--cart-list-gap);
}

.cart {
  flex: 0 0 var(--cart-width);
}

@media screen and (min-width: 768px) {
  :root {
    --card-list-gap: 2rem;
    --cart-width: calc(50% - calc(var(--cart-list-gap) / 2));
  }
}
